@model LeaveManagementWebApp.Models.AdminLeaveRequestViewModel

@{
    ViewData["Title"] = "Index";
}

<!--Summary panel-->
<div class="row">

    <div class="col-md-3">
        <div class="small-box bg-gray-light">
            <div class="inner">
                <h3>@Model.TotalRequests</h3>
                <p>@Html.DisplayNameFor(model => model.TotalRequests)</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.PendingRequests</h3>
                <p>@Html.DisplayNameFor(model => model.PendingRequests)</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.ApprovedRequests</h3>
                <p>@Html.DisplayNameFor(model => model.ApprovedRequests)</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@Model.RejectedRequests</h3>
                <p>@Html.DisplayNameFor(model => model.RejectedRequests)</p>
            </div>
        </div>
    </div>

</div>


<hr/>
<h1> Leave Request Log</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().RequestingEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().EndDate)
            </th>                                                
            <th>                                                 
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().LeaveType)
            </th>                                                
            <th>                                                 
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().DateRequested)
            </th>                                               
                                                         
            <th>                                                 
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().Approved)
            </th> 
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName)
                @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else if (item.Canceled == true)
                {
                    <span class="badge badge-secondary">Canceled</span>
                }
                else
                {
                    <span class="badge badge-warning">Pending Approval</span>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                <i class="fa fa-file"></i>
                Review
                </a> 
            </td>
        </tr>
}
    </tbody>
</table>
