@model LeaveManagementWebApp.Models.AdminLeaveRequestViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title text">@Model.TotalRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.TotalRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title text-warning">@Model.PendingRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.PendingRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title text-success">@Model.ApprovedRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.ApprovedRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h1 class="card-title text-danger">@Model.RejectedRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(model => model.RejectedRequests)</h5>
            </div>
        </div>
    </div>
</div>

<hr/>
<h1> Leave Request Log</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().RequestingEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().EndDate)
            </th>                                                
            <th>                                                 
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().LeaveType)
            </th>                                                
            <th>                                                 
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().DateRequested)
            </th>                                               
                                                         
            <th>                                                 
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().Approved)
            </th> 
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName)
                @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-warning">Pending Approval</span>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                <i class="fa fa-file"></i>
                Review
                </a> 
            </td>
        </tr>
}
    </tbody>
</table>
