@model LeaveManagementWebApp.Models.MyLeaveViewModel

@{
    ViewData["Title"] = "MyLeave";
}

<h1>My Leave Allocations</h1>

<div class="jumbotron">
    <ul class="list-group">
        @foreach(var leaveAllocation in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                @leaveAllocation.LeaveType.Name
                    <span class="badge badge-info">
                        @leaveAllocation.NumberOfDays
                    </span>
            </li>
        }
    </ul>
</div>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().EndDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().DateRequested)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests.Single().Approved)
            </th>
            
            <th>Cancel Request</th>
        </tr>
    </thead>
    <tbody>
@foreach (var leaveRequest in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => leaveRequest.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => leaveRequest.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => leaveRequest.EndDate)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => leaveRequest.DateRequested)
            </td>
            
            <td>
                @if (leaveRequest.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (leaveRequest.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else if (leaveRequest.Canceled == true)
                {
                    <span class="badge badge-secondary">Canceled</span>
                }
                else
                {
                    <span class="badge badge-warning">Pending</span>
                }
            </td>
            <td>
                @if (leaveRequest.StartDate > DateTime.Now || leaveRequest.Canceled == true)
                {
                <a class="btn btn-danger" asp-action="CancelRequest" asp-route-id="@leaveRequest.Id" 
                   onclick="return confirm('Are you sure you want to cancel your request?')">
                
                <i class="fa fa-trash-o fa-lg"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
